<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <style>
        .custom-img {
            width: 1200px;
            height: 800px;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Hospital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'doctor_login' %}">Admin Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Patients Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'doctor_login' %}">Doctor Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Add the image here using Django's static template tag -->
<img src="{% static 'Image/background/background_image1-hospital.webp' %}" class="img-fluid custom-img" alt="Hospital Image" style="width:100%">

</body>
</html>
